:root {
    --paddingWeight: 0.5em 0.5em;
    --backgroundColor: #fdebd1;
    --colorBlack: black;
    --colorWhite: white; 
}

body {
    margin: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
}

.aside {
    flex: 2;
    border-right: 1px solid black;
}

.main {
    flex: 8;
}

.searchCountry {
    height: 5%;
    width: 87%;
    margin: var(--paddingWeight);
    padding: var(--paddingWeight);
}

.imageIcon {
    width: 0.9em;
    height: 0.9em;
    border-radius: 50%;
    border: 1px solid #0000004d;
}

.imageIcon::after {
    display: block;
    position: relative;
    top: 0.6em;
    left: 0.8em;
    content: '';
    width: 0.01em;
    height: 0.5em;
    border: 1px solid #0000004d;
    transform: rotate(-45deg);
}

.searchDiv:hover  > .imageIcon, .searchDiv:hover .imageIcon::after, .searchDiv:hover > button > .closeButton, .searchDiv:hover > button > .closeButton::after  {
    border: 1px solid #000000b3;
}

.searchDiv button {
    border: none;
    background: none
}

.closeButton {
    width: 0.01em;
    height: 1.3em;
    border: 1px solid #0000004d;
    transform: rotate(-45deg)
}

.closeButton::after {
    display: block;
    content: '';
    width: 0.01em;
    height: 1.3em;
    border: 1px solid #0000004d;
    transform: rotate(90deg)
    
}

.countryList {
    height: 86%;
    width: 87%;
    margin: 0.5em;
    padding: 0.5em;
    overflow: auto;
}

.countryList::-webkit-scrollbar {
    width: 0.5em;
}

.countryList::-webkit-scrollbar-track {
    border-radius: 1em;
}

.countryList::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: white;
}

.countryList:hover::-webkit-scrollbar-thumb {
    background-color: black;
}

.list {
    list-style-type: none;
    padding-left: 0;
}

.list li {
    padding: var(--paddingWeight); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition-duration: 200ms;
}

.list li>span{
    opacity: 1;
    transition-duration: 200ms;
    font-size: 1em;
}

.list li:hover {
    background-color: rgba(247, 236, 217, 0.3);

}

.searchDiv{
    border: 1px solid lightgrey;
    display: flex;
    border-radius: 1em;
    box-sizing: border-box;
    padding: var(--paddingWeight);
    height: 100%;
    width: 100%;
}

.inputSearch {
    outline: none;
    /* color: lightgray; */
    width: 100%;
    height: 100%;
    border: none;
    margin-left: var(--paddingWeight);
    padding-left: 1em;
}

.headerTitle {
    width: 97%;
    height: 5%;
    margin: var(--paddingWeight);
    padding: var(--paddingWeight);
    display: flex;
}

.title {
    font-size: 1.5em;
}

.contentDiv {
    width: 97%;
    height: 86%;
    margin: var(--paddingWeight);
    padding: var(--paddingWeight);
    display: grid;
    grid-auto-rows: 11em;
    grid-gap: var(--paddingWeight);
}

.flag {
    grid-column: 1/3;
    grid-row: 1;
}

.contentInfo {
    grid-column: 2/4;
    grid-row: 1;
}


.wikipedia {
    grid-column: 1/4;
    grid-row: 2;
}

.map {
    grid-column: 1/4;
    grid-row: 3;
}

.countryImages {
    grid-column: 2/4;
    grid-row: 3;
}